body {
    background: linear-gradient(to bottom,#87CEFA,#F0F8FF );
    margin-top: 50px;
    margin-bottom: 100px;
    /* color: #2F4F4F; */
    color: #333333;
}

h2, h1, h4, h3 {
    font-family: "sinter", sans-serif;
    font-weight: 700;
    font-style: normal;
}