.App {
  text-align: center;
}

#wholepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-page{
  width: 100%;
  background-image: url("images/churchbig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-page{
  padding: 60px;
  color: #b1aaff;
  background-color: #a6586b;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#bottom-page{
  width: 100%;
  text-align: center;
  display: flex;
  color: #b1aaff;
  background-color: #6c5b7b;
  padding: 25px;
  padding-bottom: 155px;
  gap: 150px;  
  justify-content: space-evenly;
}

#googlemap {
  border-radius: 8px;
  box-shadow: 6px 6px 6px black;
}

footer {
  text-align: center;
  color: #b1aaff;
  background-color: #355c7d;
  padding: 20px;
}

#socialdiv {
  display: flex;
  padding: 5px;
  gap: 15px;
}

.social {
  transition: transform 0.2s;
}

.social:hover{
  transform: scale(1.3);
}

#youtube-title {
  padding: 20px;
}

#calendar-title {
  padding: 20px;
}

#youtube {
  border-radius: 25px;
  box-shadow: 6px 6px 6px black;
}


body {
  height: 100vh;
}

#caro{
  
  max-width: 1000px;
}

h1 {
  padding-top: 35px;
  font-size: 75px;
}

h1,
h3 {
    text-align: center;
    color: #b1aaff;
}

h3 {
  padding-bottom: 10px;
}

.mt-3 {
  color: red;
}
.nav {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#googleapi {
  box-shadow: 6px 6px 6px black;
  border-radius: 5px;
}












